@import "tailwindcss";

/* bc a first child */
.bc a::after {
  content: "→";
  color: gray;
  font-size: 1em;
  margin-left: 0.25em;
  font-weight: 400;
  font-family: "Courier New", Courier, monospace;
  /* font-style: italic; */
  text-decoration: none;
}

.bc a:last-child::after {
  content: "";
  color: gray;
  font-size: 1em;
  margin-left: 0.25em;
  font-weight: 400;
  font-family: "Courier New", Courier, monospace;
  /* font-style: italic; */
  text-decoration: none;
}

.card {
  width: 100%;
  border-radius: 0.25rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 20px;
  /* Add a subtle hover effect */
}
